.App {
  font-family: "Arial", sans-serif;
  background-color: hsl(200, 20%, 90%);
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: rgb(174, 189, 163);
  margin: 10px;
  padding: 20px;
}

/* Bot Collection Container */
.bot-collection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

/* Bots List Section */
.bots-list {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.bots-list h2 {
  margin-top: 0;
  font-size: 24px;
  color: #5f7b7b;
  text-align: center;
}

.bot-card {
  border: 1px solid rgb(53, 33, 142);
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  max-width: 50vw;
  max-height: auto;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bot-card img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.bot-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.bot-card button {
  background-color: hsl(200, 30%, 50%);
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.bot-card button:hover {
  background-color: hsl(200, 30%, 60%);
}

.bot-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bot-card li {
  margin: 5px 0;
}

#delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

/* Bot List Items */
#bot-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

#bot-list li {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#bot-list li:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#add {
  position: absolute;
  bottom: 8px;
  right: 5px;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

/* Your Bot Army section */
#your-bot-army {
  flex: 1;
  background-color: #eef4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

#your-bot-army h2 {
  font-size: 24px;
  color: #5f7b7b;
  margin-bottom: 20px;
}
