.App {
  font-family: Arial, sans-serif;
  background-color: rgb(165, 165, 89);
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: rgb(220, 220, 180);
  margin: 0;
  padding: 20px;
  line-height: 2rem;
}

#header h1 {
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}

#header p{
  margin-top: 0;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2rem;  
}

.bot-collection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  scroll-behavior: smooth;
}

.bots-list,
#your-bot-army {
  flex: 1 1 calc(25% - 10px);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.bots-list h2,
#your-bot-army h2 {
  margin-top: 0;
  font-size: 24px;
  color: #5f7b7b;
  text-align: center;
}

.bot-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.catch-phrase {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bot-card img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.bot-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.bot-card button {
  background-color: hsl(200, 30%, 50%);
  color: white;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.bot-card button:hover {
  background-color: hsl(200, 30%, 60%);
}

.bot-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bot-card li {
  margin: 5px 0;
}

#delete {
  top: 5px;
  right: 5px;
  background: red;
  position: absolute;
}

#add {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bot-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

#bot-list li {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#bot-list li:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bot-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Media Queries */
/* For screens larger than 767px */
@media (min-width: 768px) {
  .bot-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (max-width: 767px) {
  .bot-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
